/*首页*/
.container-fluid{
    width: 80%;
}
.logo-img{
    width: 100%;
}
.navbar_bottom{
    height: 100px!important;
    border-bottom: none!important;
}
.header .nav-item-child{
    font-size: 18px!important;
    margin-top: 20px!important;
}
.dropdown-menu{
    background-color: rgba(255,255,255,0.2)!important;

}

/*banner颜色*/
.carousel-centered p{
    color: white!important;
}
/*group_list*/
.group_list_h5{
    margin-top: 80px;
}
.group_list_h5 h5{
    color: #a4afc2;
}
.group_list_h5 p{
    color: #0f0f0f;
}